@import '~@fluentui/react/dist/sass/References.scss';

.crudlist {
  overflow: hidden;
  padding: 1em;
  color: "[theme:bodyText, default: #323130]";
  color: var(--bodyText);
  &.teams {
    font-family: $ms-font-family-fallbacks;
  }
}

.container{
  max-width: 800px;
  margin: 0% auto;
  box-shadow: 0 2px 4px 0 rgba(33, 5, 146, 0.5), 0 25px 50px 0 rgba(238, 231, 231, 0.5)
}
.grid {
  @include ms-Grid;
}
.gridRow{
  @include ms-Grid-row;
}
.smallCol{
  @include ms-Grid-col;
  @include ms-lg2;
  @include ms-sm6;
  @include ms-md4;
}  
.largeCol{
  @include ms-Grid-col;
  @include ms-lg10;
  @include ms-sm6;
  @include ms-md8;
}

.welcome {
  text-align: center;
}

.welcomeImage {
  width: 100%;
  max-width: 420px;
}

.links {
  a {
    text-decoration: none;
    color: "[theme:link, default:#03787c]";
    color: var(--link); // note: CSS Custom Properties support is limited to modern browsers only

    &:hover {
      text-decoration: underline;
      color: "[theme:linkHovered, default: #014446]";
      color: var(--linkHovered); // note: CSS Custom Properties support is limited to modern browsers only
    }
  }
}